:root {
	--headline-size: 6rem;
	--scroller-padding: 6rem;
}

.Headline {
	width: 100%;
	margin-top: 1.25rem;
}

.Headline_scrollContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	overflow: hidden;
}

.Headline_scrollContainer:hover > * {
	animation: textScroller 8s linear infinite;
}

.Headline_scrollWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	height: var(--headline-size);
	gap: var(--scroller-padding);
	padding-right: var(--scroller-padding);
}

.Headline_text {
	white-space: nowrap;
	font-family: var(--gothic-font);
	color: var(--light);
	padding: 0;
	font-size: var(--headline-size);
	letter-spacing: -2px;
	line-height: 100%;
	visibility: visible;
}

/* Overrididing styles */
.Headline_text--noAbs {
	position: initial;
}

.Headline_text--hidden {
	visibility: hidden;
}

/* Keyframes */
@keyframes textScroller {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}