:root {
	--headline-size: 5.8rem;
	--scroller-padding: 5.8rem;
  --headline-hint-dot-animation: Headline_hint--dot 2.8s ease-in-out infinite forwards;
}

.Headline {
	width: 100%;
	margin-top: 1.25rem;
}

.Headline_scrollContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	overflow: hidden;
}

.Headline_scrollContainer:hover > * {
	animation: textScroller 8s linear infinite;
}

.Headline_scrollWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	height: var(--headline-size);
	gap: var(--scroller-padding);
	padding-right: var(--scroller-padding);
}

.Headline_text {
	white-space: nowrap;
	font-family: var(--gothic-font);
	padding: 0;
	font-size: var(--headline-size);
	letter-spacing: -2px;
	line-height: 100%;
	visibility: visible;
	opacity: 1.0;
	transition: opacity var(--transition);
}

.Headline_hint {
  animation: Headline_hint--popIn 5.4s ease-in-out 1 forwards, var(--headline-hint-dot-animation);
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

/*
.Headline_hint--1,
.Headline_hint--2,
.Headline_hint--3 {
  animation: var(--headline-hint-dot-animation);
}
*/

.Headline_hint--1 {
  animation-delay: 0s, 1.4s;
}

.Headline_hint--2 {
  animation-delay: 0s, 1.525s;
}

.Headline_hint--3 {
  animation-delay: 0s, 1.65s;
}

/* Overrididing styles */
.Headline_text--hidden {
	visibility: hidden;
	opacity: 0;
}

/* Keyframes */
@keyframes textScroller {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes Headline_hint--popIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  93% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Headline_hint--dot {
  0% {
    transform: translateY(0px);
  }
  12.5% {
    transform: translateY(-6px);
  }
  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Media rules */

@media screen and (max-width: 768px) {
  .Headline_large {
    font-size: calc(0.85 * var(--headline-size));
  }
  
  .Headline_small {
    font-size: calc(0.6 * var(--headline-size));
  }

  .Headline_scrollWrapper {
    height: calc(0.6 * var(--headline-size));
  }
}

@media screen and (max-width: 480px) {
  .Headline_text {
    letter-spacing: -1px;
  }
  .Headline_large {
    font-size: calc(0.65 * var(--headline-size));
  }

  .Headline_small {
    font-size: calc(0.4 * var(--headline-size));
  }

  .Headline_scrollWrapper {
    height: calc(0.48 * var(--headline-size));
  }
}