:root {
	--headline-size: 5.8rem;
	--scroller-padding: 5.8rem;
}

.Headline {
	width: 100%;
	margin-top: 1.25rem;
}

.Headline_scrollContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	overflow: hidden;
}

.Headline_scrollContainer:hover > * {
	animation: textScroller 8s linear infinite;
}

.Headline_scrollWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	height: var(--headline-size);
	gap: var(--scroller-padding);
	padding-right: var(--scroller-padding);
}

.Headline_text {
	white-space: nowrap;
	font-family: var(--gothic-font);
	padding: 0;
	font-size: var(--headline-size);
	letter-spacing: -2px;
	line-height: 100%;
	visibility: visible;
	opacity: 1.0;
	transition: opacity var(--transition);
}

/* Overrididing styles */
.Headline_text--hidden {
	visibility: hidden;
	opacity: 0;
}

/* Keyframes */
@keyframes textScroller {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@media screen and (max-width: 768px) {
  .Headline_large {
    font-size: calc(0.85 * var(--headline-size));
  }
  
  .Headline_small {
    font-size: calc(0.68 * var(--headline-size));
  }

  .Headline_scrollWrapper {
    height: calc(0.68 * var(--headline-size));
  }
}

@media screen and (max-width: 480px) {
  .Headline_large {
    font-size: calc(0.7 * var(--headline-size));
  }

  .Headline_small {
    font-size: calc(0.48 * var(--headline-size));
  }

  .Headline_scrollWrapper {
    height: calc(0.48 * var(--headline-size));
  }
}