:root {
	--home-image-height: 225px;
}

.Home {
	height: 100vh;
  padding: var(--nav-height) var(--gutter);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
	position: relative;
}

.Home_turbulence {
	position: fixed;
	z-index: -3;
	width: 150%;
	left: -25%;
	top: -25%;
	/*animation: turbulence 0.5s infinite;*/
}

.Home_bottomBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	height: 100%;
	padding-top: 2.5rem;
	width: 100%;
}

@keyframes turbulence {
	0% {
		top: -25%;
		left: -25%;
	}
	20% {
		top: -10%;
		left: -15%;
	}
	40% {
		top: -35%;
		left: 0%;
	}
	60% {
		top: -15%;
		left: -35%;
	}
	80% {
		top: -5%;
		left: -45%;
	}
}

/*
.Home_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
}

.Home_wrapperLeft {
    width: 50%;
    padding-left: var(--gutter);
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

}

.Home_wrapperRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Home_navText {
    padding: 0;
    font-size: 8.5vw;
    font-weight: 300;
    letter-spacing: -8px;
    color: var(--secondary-text-color);
    transition: color 0.4s ease-in-out;
    line-height: 1.1;
    text-decoration: none;
}

.Home_navText::before {
    content: ".";
    margin-right: -1vw;
}

.Home_navText::after {
    content: "()";
}

.Home_navText::before,
.Home_navText::after {
    color: var(--accent-color);
    opacity: 0;
    display: inline;
    transition: opacity 0.4s ease-in-out;
}

.Home_navText:hover {
    color: var(--primary-text-color);
}

.Home_navText:hover::before,
.Home_navText:hover::after {
    opacity: 100%;
}

.Home_text-bracket {
    color: var(--accent-color);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.Home_text-bracket.active {
    opacity: 100%;
}

.Home_text-greenHover {
    transition: color 0.4s ease-in-out;
}

.Home_text-greenHover:hover {
    color: var(--accent-color);
}

.Home_text-hero {
    font-weight: 500;
    cursor: default;
}

.Home_text-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;
}

@media screen and (max-width: 575px) {
    
    .Home_wrapperLeft {
        width: 100%;
    }

    .Home_wrapperRight {
        display: none;
    }
}
*/