/* Navbar sections */

.Navbar {
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    padding: 0 var(--gutter);
    z-index: 3;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Navbar_navList ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    padding-left: 0px;
	position: relative;
}


/* Navbar text effects */

.Navbar_link {
    font-size: var(--nav-text-size);
    font-family: var(--sans-serif-font);
    padding-left: 0;
    list-style: none;
	margin-left: 3vw;
	position: relative;
}

/* Add underline styling for nav item on hover */

.Navbar_link::after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: -0.05em;
	background: var(--light);
	height: 0.075em;
	transition: right 0.4s ease-in-out;
}

/* Color overrides for styled underlines */
.Navbar_link--red::after {
	background: var(--red);
}

.Navbar_link--blue::after {
	background: var(--blue);
}

.Navbar_link--yellow::after {
	background: var(--yellow);
}

.Navbar_link:hover::after,
.Navbar_link:focus::after,
.Navbar_link:active::after {
	right: 0;
}

.Navbar_logo {
    color: var(--light);
    font-weight: bold;
    font-family: var(--sans-serif-font);
    font-size: var(--nav-text-size);
}

.Navbar_button {
    background-color: var(--dark);
    color: var(--light);
    border: 1px solid #666;
    border-radius: 4px;
    line-height: 16px;
    width: 36px;
    height: 32px;
}

.Navbar_button > i {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.Navbar_button:active {
    box-shadow: inset 1px 1px 8px #111;
}

/* Override default a underlining just for navbar and replace with style similar to nav links in Home.js */

.Navbar_navList > a::after {
    content: none;
}

.Navbar_link:hover {
	cursor: pointer;
}

.Navbar_dropdown {
    z-index: 3;
    width: 100%;
    position: absolute;
    right: 0;
    top: var(--nav-height);
    border-top: 1px solid #666;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.6), 
        inset 0px 0px 8px #111;
}

.Navbar_dropdown > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    padding: 0;
    margin: 0;
}

.Navbar_dropdownBlur {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    overflow: hidden;
    background-color: #222;
}

.Navbar_link--dropdown {
    width: 100%;
    font-size: var(--nav-text-size);
    color: var(--light);
    background-color: var(--dark);
    list-style: none;
    display: block;
    padding: 0.6em 0;
    text-align: right;
    padding-right: var(--gutter);
    border-bottom: 1px solid #666;
}

@media screen and (max-width: 768px) {
    
}