
.About {
    min-height: 100vh;
    padding-top: var(--nav-height);
    display: grid;
    grid-template-columns: var(--gutter) calc(49vw - var(--gutter)) calc(49vw - var(--gutter)) var(--gutter);
}

.About_imageContainer {
    padding-top: 2rem;
}

.About_image {
    margin: 0 auto;
    height: 30vh;
}

.About_left {
    padding-right: 0.5vw;
}

.About_right {
    padding-left: 0.5vw;
}

.About_text {
    padding-bottom: 1rem;
}