/* Navbar sections */

.Navbar {
    position: fixed;
    width: 100vw;
    height: 50px;
    padding: 0 var(--gutter);
    z-index: 3;
    background-color: var(--site-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* DELETE - FOR TESTING PURPOSES */
    border-bottom: 1px black solid;
}

.Navbar_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* Navbar text effects */

.Navbar_logo {
    color: var(--primary-text-color);
    font-weight: bold;
    font-family: var(--mono-font);
}