.Projects {
    min-height: 100vh;
    padding: var(--nav-height) var(--gutter) 0 var(--gutter);
}

.Projects_container {
    padding: 0 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
}

@media screen and (max-width: 991px) {
    .Projects_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 575px) {
    .Projects_container {
        grid-template-columns: 1fr;
    }
}