.TagCloud {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1.5rem;
}

.TagCloud_headers {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8vw;
}

.TagCloud_header {
	font-family: var(--sans-serif-font);
	font-weight: 300;
	font-size: 2.25em;
	position: relative;
	cursor: pointer;
	letter-spacing: -0.125rem;
}

.TagCloud_header::after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: -0.05em;
	background: var(--light);
	height: 0.075em;
	transition: right 0.4s ease-in-out;
}

.TagCloud_header--red::after {
	background: var(--red);
}

.TagCloud_header--blue::after {
	background: var(--blue);
}

.TagCloud_header--yellow::after {
	background: var(--yellow);
}

.TagCloud_header:hover::after,
.TagCloud_header:focus::after,
.TagCloud_header:active::after {
	right: 0;
}