/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* ROOT VARS */

:root {
  --site-background-color: #36383a;
  --primary-text-color: white;
  --secondary-text-color: #aaa;
  --accent-color: #00ac0f;
  --sans-serif-font: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --mono-font: 'Fira Code', 'Courier New', monospace;
  --gutter: 6.25vw;
  --header-font-size: 2.5rem;
  --text-font-size: 1.125rem;
}

/* STYLE RESET (inspired by https://piccalil.li/blog/a-modern-css-reset/) */

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* SITE-WIDE STYLING: ELEMENT BEHAVIOR */

/* Add global border-box */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}


/* Set site-wide smooth scrolling */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
}

/* Images fill container */
img,
picture {
  max-width: 100%;
  display: block;
}

/* SITE-WIDE STYLING: AESTHETICS */

/* Default page styling */

html {
  background-color: var(--site-background-color);
}

/* Alter default anchor styling */
a,
a:hover,
a:focus,
a:active
a:visited {
  color: var(--accent-color);
  text-decoration: unset;
  cursor: pointer;
}

h1 {
  font-family: var(--mono-font);
  color: var(--primary-text-color);
  cursor: default;
  padding: 2rem 0;
  font-size: var(--header-font-size);
}

p, li {
  font-family: var(--sans-serif-font);
  color: var(--secondary-text-color);
  font-size: var(--text-font-size);
}

/* SITE-WIDE STYLING: TEXT EFFECTS */

.Global_text-pageHeader {
  text-decoration: underline var(--accent-color) 0.375rem;
}

.Global_text-primaryColor {
  color: var(--primary-text-color);
}

a,
.Global_text-underline {
  position: relative;
  overflow: hidden;
  display: inline;
}

a:after,
.Global_text-underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -0.125em;
  background: var(--accent-color);
  height: 0.375em;
  transition: right 0.4s ease-in-out;
}

a:hover:after,
a:focus:after,
a:active:after,
.Global_text-underline:hover:after,
.Global_text-underline:focus:after,
.Global_text-underline:active:after {
  right: 0;
}

/* ACCESSIBILITY */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}