/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* ROOT VARS */

:root {
  --site-background-color: #36383a;
  --primary-text-color: white;
  --secondary-text-color: #aaa;
  --accent-color: #00ac0f;
  --sans-serif-font: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --mono-font: 'Fira Code', 'Courier New', monospace;
}

/* STYLE RESET (inspired by https://piccalil.li/blog/a-modern-css-reset/) */

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* SITE-WIDE STYLING: ELEMENT BEHAVIOR */

/* Add global border-box */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}


/* Set site-wide smooth scrolling */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
}

/* Images fill container */
img,
picture {
  max-width: 100%;
  display: block;
}

/* SITE-WIDE STYLING: AESTHETICS */

/* Standard page styling */

html {
  background-color: var(--site-background-color);
}

/* ADD HEADER STYLING */

p {
  font-family: var(--sans-serif-font);
  font-size: 1rem;
}

/* SITE-WIDE STYLING: TEXT EFFECTS */

.underline {
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0.0625em;
  background: var(--accent-color);
  height: 0.375em;
  transition: right 0.4s ease-in-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}

/* ACCESSIBILITY */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}